@import "reset";

* {
	box-sizing: border-box;
	font-family: monospace;
}

.container {
	padding: 0 15px;
	margin: 0 auto;
	@media (min-width: 768px) {
		width: 750px;
	}
	@media (min-width: 992px) {
		width: 970px;
	}
	@media (min-width: 992px) {
		width: 970px;
	}
	@media (min-width: 1200px) {
		width: 1170px;
	}
}

.row {
	margin: 0 -15px;
}

.col-xs-12 {
	padding: 0 15px;
}

@media (min-width: 768px) {
	.col-sm-offset-3 {
		margin-left: 25%;
	}
	.col-sm-6 {
		width: 50%;
	}
}

.text-center {
	text-align: center;
}

.show{
	opacity: 1 !important;
}

.hide{
	display: none;
}